.App {
  margin-top: 2.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.titulos {
  color: #FFFFFF
}

.slidersDiv{
  flex-direction: column;
  display: flex;
}

.margemLateral {
  margin-right: 0.5rem;
}
.sliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider{
  width: 30%;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.screen {
  height: 100%;
}

.dropdown {
  width: 30%;
  background-color: #EEEEEE;
}

.selectable{
  margin: 10px;
}

.dropdownLinha {
  width: 20%;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: row;
}

.button {
  margin-top: 15px;
 
}

.fontes{
  font-size: large;
}

.barra1 {
  min-width: 300px;
  width: 30vw;
  grid-area: esquerda;
  background-color: #777777;
}

.barra2 {
  min-width: 400px;
  width: 40vw;
  grid-area: meio;
  background-color: #222222;
}

.barra3 {
  min-width: 300px;
  width: 30vw;
  grid-area: direita;
  background-color: #777777;
}

.gridContainer {
  display: grid;
  grid-template-areas: "esquerda meio direita";
  height: 100vh;
}

.gridContainer > div {
  height: 100%;
}

.bGroup {
  margin: 10% 5%;
}

.lista {
  margin-bottom: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inRow{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
 
}

.Results{
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 20px;

}

.title{

  color: #FFFFFF;
  font-size: 30px;
  
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.columnHome{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  

}
.txt{
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 30px;
}

.btn{

  background-color: #FFFFFF;
  color: #222222;
  border-color: transparent;
  height: 70px;
  width: 200px;
  border-radius: 10%;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
 }

.btn:disabled{ 

  background-color: #fffdfdc9;
  color: #222222;
}


.playAgain{

  background-color: #ffffff;
  color: #222222;
  border-color: transparent;
  height: 50px;
  font-size: 15px;
  display:flex;
  margin-top: 50px;
  border-radius: 10%;
  text-align: center;
  align-items: center;

}

.desc{
  text-align: center;
}

.gameOpt{
  width: 100%;
  height:70px;
  margin-top: 30px;
  font-size: 15px;
  
}

.gameOpt:hover{
  width: 100%;
  height:70px;
  margin-top: 30px;
  font-size: 15px;
  border-color: rgb(72, 128, 231);
  border-width: 5px;
  
}